
.h1{

    font-family: 'Source Sans Pro', sans-serif;
    text-align: center;
    position: relative;
    padding-top: 5%;

}

.Worlds
{
  padding: 2%;
  text-align:justify;
  color:black;
  font-size: 30px;
  font-family: 'Source Sans Pro', sans-serif;;

}
.mundial
{
  padding: 5%;
  text-align: justify;
}
.imgitem
{
    padding: 5%;
    width: 400;
}
.fodo
{
    background-color: #F6DDCC;
}
#fodo2
{
    background-color: #F6DDCC;
}
.img
{
    text-align: center;
    width: auto;
    height: auto;
}

@media screen and (max-width:600px) {
    .img{
        text-align: center;
        border: 5px solid black;
    }
    
}

body
{
    background-color:#F6DDCC ;
}
@media screen and (max-width:600px){
    body{
       background-color:#F6DDCC;
    }
    
}
.olis
{
    text-align: center;
}
