<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="../estilo/style.css">
    <title>Campeones</title>
</head>
<body class="segundalol">
    <nav class="navbar navbar-expand-md bg-dark navbar-dark">
        <!-- Brand -->
        <a class="navbar-brand" href="../index.html">Inicio</a>
      
        <!-- Toggler/collapsibe Button -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <!-- Navbar links -->
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="Campeones1.html">Campeones</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="Items.html">Worlds</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="Runas.html">SKT</a>
            </li>
          </ul>
        </div>
      </nav>
      <style type="text/css">
      *{
        margin: 0px;
        padding: 0px;
       }
       body{
        font-family: arial;
       }
       .main{
       
        margin: 2%;
       }
       
       .card{
            width: 20%;
            display: inline-block;
            box-shadow: 2px 2px 20px black;
            border-radius: 5px; 
            margin: 2%;
           }
       
       .image img{
         width: 100%;
         border-top-right-radius: 5px;
         border-top-left-radius: 5px;
         
       
        
        }
       
       .title{
        
         text-align: center;
         padding: 10px;
         
        }
       
       h1{
         font-size: 20px;
        }
       
       .des{
         padding: 3px;
         text-align: center;
        
         padding-top: 10px;
               border-bottom-right-radius: 5px;
         border-bottom-left-radius: 5px;
       }
       button{
         margin-top: 40px;
         margin-bottom: 10px;
         background-color: white;
         border: 1px solid black;
         border-radius: 5px;
         padding:10px;
       }
       button:hover{
         background-color: black;
         color: white;
         transition: .5s;
         cursor: pointer;
       }
       
       </style>
       <body class="herencia">
      
       <div class="main">
       
        <!--cards -->
       
       <div class="card">
       
       <div class="image">
          <img src="../estilo/Campeones/AAtrox.jpg">
       </div>
       <div class="title">
        <h1>
       Aatrox</h1>
       </div>
       <div class="des">
        <p></p>
        <button type="button" class="btn btn-primary" data-toggle="collapse" data-target="#demo">Información</button>
        <div id="demo" class="collapse">
          Alguna vez Honorables Defensores de shurima contra el vacio, Aatrox y sus hermanos
          se convertirian  con el tiempo en una mayor amenaza para Runaterra 
        </div>
       </div>
       </div>
       <!--cards -->
       
       
       <div class="card">
       
       <div class="image">
          <img src="../estilo/Campeones/Ahri_OriginalSkin.jpg">
       </div>
       <div class="title">
        <h1>
       Ahri</h1>
       </div>
       <p></p>
       <div class="des">
        
        <button type="button" class="btn btn-primary" data-toggle="collapse" data-target="#demo">Información</button>
  <div id="demo" class="collapse">
    Conectada de manera natural a la magia del reino espiritual, Ahri es una misteriosa
    vastaya vulpina que busca su lugar en el mundo. tras haberse convertido en una predadora mortal.
  </div>
       </div>
       </div>
       <!--cards -->
       
       
       <div class="card">
       
       <div class="image">
          <img src="../estilo/Campeones/Akali_OriginalSkin.jpg">
       </div>
       <div class="title">
        <h1>
       Akali</h1>
       </div>
       <div class="des">
         <p></p>
        
        <button type="button" class="btn btn-primary" data-toggle="collapse" data-target="#demo">Información</button>
  <div id="demo" class="collapse">
    Tras renunciar a la orden Kinkou y a su titulo como el puño de la sombra
    akali pelea  sola, lista para ser el arma letal que su pueblo necesita. siendo un leal ninja desde pequeña
  </div>
       </div>
       </div>
       <!--cards -->
       
       
       <div class="card">
       
       <div class="image">
          <img src="../estilo/Campeones/Akshan_OriginalSkin.jpg">
       </div>
       <div class="title">
        <h1>
       Akshan</h1>
       </div>
       <div class="des">
        <p></p>
        <button type="button" class="btn btn-primary" data-toggle="collapse" data-target="#demo">Información</button>
        <div id="demo" class="collapse">
          El arma de Akshan, Redentora, es un  Arma Reliquia de Luz con un propiedades de "reversión de la muerte"  para personas asesinadas matando a su perpetrador. 
        </div>
       </div>
       </div>
       <!--cards -->
       
       
       <div class="card">
       
       <div class="image">
          <img src="../estilo/Campeones/Alistar_OriginalSkin.jpg">
       </div>
       <div class="title">
        <h1>
       Alistar</h1>
       </div>
       <div class="des">
        <p></p>
        <button type="button" class="btn btn-primary" data-toggle="collapse" data-target="#demo">Información</button>
        <div id="demo" class="collapse">
          Alistar fue traicionado por su propia especie después de que su clan no estuviera de acuerdo en unirse a Noxus como los clanes más grandes, dejándolo como el único superviviente.
          Alistar y Xin Zhao Xin Zhao habían sido capturados por Noxus y forzados a participar en la Carnaza. 
        </div>
       </div>
       </div>
       <!--cards -->
       
       <div class="card">
       
       <div class="image">
          <img src="../estilo/Campeones/Anivia_OriginalSkin.jpg">
       </div>
       <div class="title">
        <h1>
       Anivia</h1>
       </div>
       <div class="des">
        <p></p>
        <button type="button" class="btn btn-primary" data-toggle="collapse" data-target="#demo">Información</button>
        <div id="demo" class="collapse">
          Gregor dice que "recuerda el sacrificio de Anivia", lo cual podría significar que murió durante el levantamiento de los Hijos del Hielo en el Abismo de los Lamentos.
          De todos los semidioses freljordianos, Ashe Ashe tiene la conexión más profunda con Anivia debido a sus valores de paz.

        </div>
       </div>
       </div>
       <!--cards -->
       
       <div class="card">
       
       <div class="image">
          <img src="../estilo/Campeones/Annie_OriginalSkin.jpg">
       </div>
       <div class="title">
        <h1>
       Annie</h1>
       </div>
       <div class="des">
        <p></p>
        <button type="button" class="btn btn-primary" data-toggle="collapse" data-target="#demo">Información</button>
        <div id="demo" class="collapse">
          
          En el lore actual de Annie: el epíteto de Gregori se acorta a "el Gris" y el de Amoline a "una bruja".
          Tibbers fue hecho a mano por la madre de Annie, con los míticos Osos Sombríos como plantilla, y es el único recuerdo que tiene de ella. siendo annie uno de los mid favoritos actuamlente
        </div>
       
       </div>
       </div>
       <!--cards -->
       
       <div class="card">
       
        <div class="image">
           <img src="../estilo/Campeones/Ashe_OriginalSkin.jpg">
        </div>
        <div class="title">
         <h1>
        Ashe</h1>
        </div>
        <div class="des">
         <p></p>
         <button type="button" class="btn btn-primary" data-toggle="collapse" data-target="#demo">Información</button>
         <div id="demo" class="collapse">
          
          Sin el conocimiento de todos, Lissandra  es la Bruja de Hielo de la leyenda Freljordiana, que en realidad está esperando el momento adecuado para atacar a las tribus de Ashe y Sejuani y eliminar cualquier encarnación potencial de Avarosa y Serylda para tomar el Fréljord.
         </div>
        </div>
        </div>
 
       
       <div class="card">
       
       <div class="image">
          <img src="../estilo/Campeones/Aurelion_Sol_OriginalSkin.jpg">
       </div>
       <div class="title">
        <h1>
       Aurelion Sol</h1>
       </div>
       <div class="des">
        <p></p>
        <button type="button" class="btn btn-primary" data-toggle="collapse" data-target="#demo">Información</button>
        <div id="demo" class="collapse">
          Aurelion Sol es un ser cósmico capaz de crear y destruir estrellas con solo mover los dedos.
          Cuando Aurelion Sol muere, se disipa en una constelación de dragón. Se desconoce si esto tiene o no importancia para los dragones celestiales.
        </div>
       </div>
       </div>

       <div class="card">
       
        <div class="image">
           <img src="../estilo/Campeones/Azir_OriginalSkin.jpg">
        </div>
        <div class="title">
         <h1>
        Azir</h1>
        </div>
        <div class="des">
         <p></p>
         <button type="button" class="btn btn-primary" data-toggle="collapse" data-target="#demo">Información</button>
         <div id="demo" class="collapse">
          cuando su antigua alma gemela traicionóo su confianza para convertirse en un ser Ascendido y destruyendo a Shurima en el proceso.
          Y, sin embargo, Azir no admitirá que su ambición puede haberlo llevado por mal camino para empezar.
         </div>
        </div>
        </div>

        <div class="card">
       
          <div class="image">
             <img src="../estilo/Campeones/Bard_OriginalSkin.jpg">
          </div>
          <div class="title">
           <h1>
          Bardo</h1>
          </div>
          <div class="des">
           <p></p>
           <button type="button" class="btn btn-primary" data-toggle="collapse" data-target="#demo">Información</button>
           <div id="demo" class="collapse">
            A pesar de ser seres celestiales, El Bardo no está restringido al plano de origen de Soraka Soraka, sino que existe y viaja a través de muchos. [21]
            El Bardo podría haber notado que Ekko  y Zilean  alteran la línea de tiempo.
           </div>
          </div>
          </div>

          <div class="card">
       
            <div class="image">
               <img src="../estilo/Campeones/Blitzcrank_OriginalSkin.jpg">
            </div>
            <div class="title">
             <h1>
            Blitzcrank </h1>
            </div>
            <div class="des">
             <p></p>
             <button type="button" class="btn btn-primary" data-toggle="collapse" data-target="#demo">Información</button>
             <div id="demo" class="collapse">
                solía ejecutar un servicio de citas llamado ' compatibilidad. Determinaba la probabilidad de una pareja exitosa por medio de un algoritmo que ideó.
              El lore de Blitzcrank se basa aparentemente en The Bicentennial Man de Isaac Asimov.
             </div>
            
            </div>
    
  

       </div>

      
</body>
</html>