<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="../estilo/items.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200&display=swap" rel="stylesheet">
    <title>LOL</title>
    <title>Document</title>
</head>
<body class="fodo">
    <nav class="navbar navbar-expand-md bg-dark navbar-dark">
        <!-- Brand -->
        <a class="navbar-brand" href="../index.html">Inicio</a>
      
        <!-- Toggler/collapsibe Button -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <!-- Navbar links -->
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="../templates/Campeones1.html">Campeones</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="./Items.html">Worlds</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="./Runas.html">SKT</a>
            </li>
          </ul>
        </div>
      </nav>

      
      <div class="">
      <div class="h1">
        <b>Bienvenidos a la Info de worlds</b>
        <img src="../estilo/img/copa-invocador-mundial-lol-2019-madrid.jpg" alt="" class="img-fluid" height="100%">
    </div>
  </div>
  
     
  <div class="fodo">
    <div class="container">
      <div  class="row">
        <div class="col">
          <div class="Worlds">
            <h1>Comienzo Del Mundial</h1>
          </div>
        </div>
      </div>
  </div>
    
  
    <div class="container">
      <div class="row">
        <div class="col-sm">
          <div class="Worlds">
            <p class="lead">El League of Legends World Championship (en español: Campeonato Mundial de League of Legends), también conocido como Worlds, es un torneo anual de League of Legends organizado por Riot Games y que supone la culminación de cada temporada. Los equipos compiten por el título de campeón, la Copa del Invocador, y un premio de varios miles de dólares.1​ En 2018, las finales fueron vistas por 99,6 millones de personas, rompiendo el récord de la edición de 2017.2​ El torneo ha sido ampliamente elogiado por sus actuaciones ceremoniales,3​4​ además de recibir una alta atención mediática debido a su naturaleza emocional y dramática
            </p>
          </div>
        </div>
        <div class="col">
          <div class="imgitem">
          <img src="../estilo/img/escenario.jpg"  alt="Cinque Terre"  class="img-fluid">
          </div>
        </div>
      </div>
    </div>
  </div>

    <div id="fodo2">
      <div class="container">
        <div  class="row">
          <div class="col">
            <div class="Worlds">
              <h1>Como mejor jungla en worlds En la temporada 2021 tenemos a Peanut(NS)</h1>
            </div>
          </div>
        </div>
      </div>
      
      <div class="container">
        <div class="row">
          <div class="col">
            <div class="mundial">
              <p class="lead">Han "Peanut" Wang-ho es un habilidoso jungla muy conocido por su Lee Sin y su agresividad en la fase de líneas. Doble campeón de la LCK, campeón de KeSpa y campeón del MSI de 2017, también ha conseguido ser subcampeón del mundo entre muchos otros títulos. Es uno de los tres jugadores que ha conseguido ganar la LCK con dos equipos diferentes..
              </p>
            </div>
          </div>
          <div class="col">
            <div class="imgitem">
            <img src="../estilo/img/peanut NS.jpeg"  alt="Cinque Terre" width="450" height="400" class="img-fluid">
          </div>
          </div>
        </div>
      </div>
    </div>


     <div id="fodo2">
        <div class="container">
          <div  class="row">
            <div class="col">
              <div class="Worlds">
                <h1>Como equipo favorito de worlds tenemos a SKT(T1)</h1>
              </div>
            </div>
          </div>
        </div>
        
        <div class="container">
          <div class="row">
            <div class="col">
              <div class="mundial">
                <p class="lead">T1 (anteriormente SK Telecom T1 o SKT T1) es un equipo profesional de propiedad de la compañía surcoreana de telecomunicaciones SK Telecom. Actualmente solo un equipo de League of Legends está activo. Anteriormente también poseía un equipo de Starcraft, uno adicional de League of Legends y un nuevo equipo de Dota 2.
                </p>
              </div>
            </div>
            <div class="col">
              <div class="imgitem">
              <img src="../estilo/img/T1.jpg"  alt="Cinque Terre" width="500" height="300" >
            </div>
            </div>
          </div>
        </div>
      </div>

</body>
</html>