<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../estilo/Runas.css">
    <title>SKT</title>
</head>
<body>
    <nav class="navbar navbar-expand-md bg-dark navbar-dark">
        <!-- Brand -->
        <a class="navbar-brand" href="../index.html">Inicio</a>
      
        <!-- Toggler/collapsibe Button -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <!-- Navbar links -->
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="Campeones1.html">Campeones</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="Items.html">Worlds</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="Runas.html">SKT</a>
            </li>
          </ul>
        </div>
      </nav>

      <div class="container-fluid">
        <div class="h1">
          <b>Aqui podemos observar al T1 2021</b>
        </div>
        <div class="img">
          <img src="../estilo/img/Skt 2021.jpg"  alt="" class="img-fluid">
        </div>
    </div>
    
       
    
      <div class="container">
        <div  class="row">
          <div class="col">
            <div class="h1">
            <b>SkT Telecom</b>
            </div>
          </div>
        </div>
      </div>
    <div class="container olis">
      <div class="row">
        <div class="col-sm">
          <div class="Worlds">
            <b>T1 es conocido para muchos como el mejor equipo de la historia de League of Legends. Fue fundado en febrero de 2014, y por su club han pasado numerosos jugadores de prestigio, como por ejemplo Faker, el mejor del mundo. En sus vitrinas cuentan con numerosos títulos, entre los que encontramos varias LCK y tres campeonatos del mundo.
            </b>
          </div>
        </div>
       </div> 
       
       <div class="container">       
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Firstname</th>
              <th>País</th>
              <th>Team</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Teddy</td>
              <td><img src="../estilo/img/corea png.png" width="35px" height="30px" ></td>
              <td>SKT</td>
            </tr>
            <tr>
              <td>Canna</td>
              <td><img src="../estilo/img/corea png.png" width="35px" height="30px"></td>
              <td>SkT</td>
            </tr>
            <tr>
              <td>Faker</td>
              <td><img src="/estilo/img/corea png.png" width="35px" height="30px"></td>
              <td>SKT</td>
            </tr>
            <tr>
              <td>Oner</td>
              <td><img src="../estilo/img/corea png.png" width="35px" height="30px"></td>
              <td>SKT</td>
            </tr>
            <tr>
              <td>Keria</td>
              <td><img src="../estilo/img/corea png.png" width="35px" height="30px"></td>
              <td>SKT</td>
            </tr>
          </tbody>
        </table>
      </div>

      <h4>Posdata dentro de un rato Skt estara peleando el ultimo puesto para entrar a worlds 2021 </h4>
</body>
</html>